body {
  background-image: url(../img/background3.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
}

#top {
  width: 100%;
  height: 300pt;
  text-align: center;
  background-color: rgba(000, 0, 0, 0.3);
  flex-direction: column;
  margin-top: 40pt;
  color: white;
  overflow: hidden;
}

#top img {
  width: 350pt;
  height: 170pt;
  margin-top: 40pt;
}

#top h1 {
  margin: 0;
  margin-top: 30pt;
}

#Topexpand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Topexpand #expandDown {
  display: block;
  cursor: pointer;
}

#Topexpand #expandUp {
  display: none;
  cursor: pointer;
}

#topMore {
  display: flex;
  flex-direction: column;
}

#moreContent {
  display: flex;
  align-items: center;
  padding: 0 200pt 0 200pt;
}

#topMore h1 {
  font-size: 25pt;
}

#topMore img {
  width: 100pt;
  height: 130pt;
  border-radius: 60pt;
  margin-bottom: 30pt;
}

#navbar {
  width: 100%;
  height: 200pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100pt;
  margin: 0pt 45pt 0pt 45pt;
  padding: 0pt 35pt 0pt 35pt;
  color: white;
  border: solid #ccc;
  border-width: 1pt;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.buttons:hover {
  background-color: rgba(000, 0, 0, 0.3);
  transition: 0.5s;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footerText {
  margin-right: 20pt;
}
