body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

#content {
}

#top {
  width: 100%;
  height: 350pt;
  background-color: rgba(000, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  margin-top: 50pt;
}
